.main {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--color-green);
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #51eb4c, #a5f1ab, #4ceb66);
}

.topBar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  align-items: center;
}

.topBar .actionBtn {
  margin-left: auto;
}

.topBar .sound {
  padding-left: 5px;
}

.topBar .score {
  padding-left: 5px;
  font-size: 1.2rem;
}

.topBar .info {
  font-size: 1.1rem;
}
